.gifView {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 50px;
}

#gif_temp {
    height: 100%;
    width: 9%;
    margin-right: 1%;
}

#gif {
    max-height: 400px;
    max-width: 600px;
}

