extends layout

block scripts
  link(rel='stylesheet', type='text/css', href='stylesheets/index.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/giphy.css')
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script(src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
  script(src='javascripts/load.js')
  script(src='javascripts/bundle.js')
  script(src='javascripts/bahn.js')
  script(src='javascripts/giphy.js')


block content
  div(class='menu')
    div(class='icon')
      img(src='images/self.png', draggable='false')
    div(class='name') Web-Sys-Chat
    div(class='typing') 
      i(class='fas fa-spinner fa-pulse hidden', id='typinglogo')
  ol(class='chat')
  div(class='gifView', style='display: none;')
  input(class='textarea', type='text', placeholder='Type here!', id='textinput')
  input(type='file', id='fileInput', style='display: none')
  
