extends layout

block scripts 
  link(rel='stylesheet', href='/stylesheets/style.css')
  
block content
  h1= title
  h3 Logged in as #{name}
  textarea(
  style='width: 100%'
  rows='20'
  readonly
  )
  label Message
  form(action='/chat/newMessage', method='post')
    textarea(id='chatArea', style='width: 100%', rows='4', name='message')
    input(type='text', placeholder='name', name='author')
    button(type='submit') Send
    a(href='./chat/Messages') Load all messages